<!DOCTYPE html>
<html>
  <head>

    <style type="text/css">
#addsubmit {
        position: relative;
        left: 136px !important;
        width: 150px;
        background-color: #f5404d;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 0;
        font-size: 16px;
        transition: all 0.2s linear;
        -webkit-font-smoothing: antialiased;
        font-weight: bolder;
    }
    body{background-image: url(./cwp/image/bg.jpg)}
    #uploadImg{ font-size:12px; overflow:hidden; position:absolute}  
    #fileupload{ position:absolute; z-index:100; margin-left:-180px; font-size:60px;opacity:0;filter:alpha(opacity=0); margin-top:-5px;width:20px;height: 8px;} 
    .canvas{
        display:inline-table;
        margin-right:15px;
        margin-bottom:15px;
    }
    dl p span{
        font-size:13px;
    }
    canvas{
        border-radius:10px;
        margin-bottom:20px;
    }
    #addsubmit {
        position:relative;
        left: 280px;
    }
    #files{
        width:450px;
    }
    div#categoryddm {
        position:absolute;
        top:142px;
    }
    .btn-success:hover {
        color: #fff;
        background-color: #48c9b0;
        border-color: #48c9b0;
    }
    .btn-success {
        color: #ffffff;
        background-color: #1abc9c;
    }
    dl button{
        border-radius:20px !important;
        margin-left:28px;
    }
    #icon{
        display:inline-block;
        margin-right:20px;
    }
    </style>
    <title></title>
  </head>
  <body>
    <div class="main">
      <div class="addNewItem-form" style="width:560px">
        <h1 style="color:#1ABC9C;font-size:30px">
          Add a New Item
        </h1>
      <form method="post" action="/saveOneItem">
        <div class="form-group">
          <input type="text" class="form-control" value=""
          placeholder="Product Name" id="product-name" value="" name="name"
          "margin-bottom:80px;">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" value="" name="price"
          placeholder="Product Price" id="product-price">
        </div>
        <textarea class="form-control" id="reply_content" name="detail"
        "comment" rows="5">
</textarea>
        <div class="form-group">
           <span class="btn btn-success fileinput-button" id=
          "imageadd"> <span>Add files...</span>   <input id=
          "fileupload" type="file" name="category" multiple
          ></span><br>
          <br>
          <div id="files" class="files"></div><br>
        </div>
        <div class="col-xs-3" id="categoryddm">
          <div class="btn-group select select-block">
            <button class=
            "btn dropdown-toggle clearfix btn-primary" data-toggle=
            "dropdown" id="dropdown" value=""><span class=
            "filter-option pull-left">Select
            Cotegory</span>&nbsp;<span class="caret"></span></button>
              
            <ul class="dropdown-menu dropdown-inverse" role="menu"
            style=
            "overflow-y: auto; min-height: 108px; max-height: 68px;">
            <li rel="0">
                <a tabindex="-1"  class=""><span class=
                "pull-left">Living Room</span></a>
              </li>
              <li rel="1" class="">
                <a tabindex="-1"  class=
                ""><span class="pull-left">Bedroom</span></a>
              </li>
              <li rel="2" class="">
                <a tabindex="-1"  class=
                ""><span class="pull-left">Mobile</span></a>
              </li>
              <li rel="3">
                <a tabindex="-1"  class=""><span class=
                "pull-left">Laptop</span></a>
              </li>
              <li rel="4" class="">
                <a tabindex="-1"  class=""><span class=
                "pull-left">Food</span></a>
              </li>
            </ul>
          </div>
        </div><button type="submit" class="btn btn-primary" href=
        "#" id="addsubmit">Submit</button>
    </form>
      </div>
    </div><script src=
    "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script> <script src=
"/jquery-file-upload/js/vendor/jquery.ui.widget.js">
</script> <script src=
"http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js">
</script> <script src=
"http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js">
</script> <script src=
"/jquery-file-upload/js/jquery.iframe-transport.js">
</script> <script src=
"/jquery-file-upload/js/jquery.fileupload.js">
</script> <script src=
"/jquery-file-upload/js/jquery.fileupload-process.js">
</script> <script src=
"/jquery-file-upload/js/jquery.fileupload-image.js">
</script> <script>
/*jslint unparam: true, regexp: true */
    /*global window, $ */
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var count = 0;
        var url = window.location.hostname === 'blueimp.github.io' ?
        '//jquery-file-upload.appspot.com/' : '//localhost:8888/',
        uploadButton = $('<button class="upload""/>')
            .addClass('btn btn-primary')
            .prop('disabled', true)
            .text('Processing...')
            .on('click', function (event) {
                event.preventDefault();
                var $this = $(this),
                data = $this.data();
                console.log($this.parent.parent);

                $this.toggleClass('btn-danger btn-primary');
                $this.parent().parent().toggleClass('palette-green-sea palette-wet-asphalt');
                if($this.text() == 'x'){
                $this.text('√')
                $.post('/deleteImage', {name:data.files[0].name});
                }else{
                data.submit();
                $this.text('x')
                }
                this.on('click', function () {
                <!--$this.remove();-->
                <!--data.abort();-->
                });
                data.submit().always(function () {
                <!--$this.remove();-->
                });
                });
                $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                autoUpload: false,
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 5000000, // 5 MB
                // Enable image resizing, except for Android and Opera,
                // which actually support image resizing, but fail to
                // send Blob objects via XHR requests:
                disableImageResize: /Android(?!.*Chrome)|Opera/
                .test(window.navigator.userAgent),
                previewMaxWidth: 100,
                previewMaxHeight: 100,
                previewCrop: true
                }).on('fileuploadadd', function (e, data) {
                data.context = $('<div class="canvas"/>').appendTo('#files');
                    $.each(data.files, function (index, file) {
                    var node = $('<p/>')
                    if (!index) {
                    node
                    .append(uploadButton.clone(true).data(data))
                    }
                    node.appendTo(data.context);
                    $('.canvas>p').eq( index ).wrap('<dl class="palette palette-wet-asphalt" data-d=' + count + ' ><\/dl>')
                    count++;

                    });
                    }).on('fileuploadprocessalways', function (e, data) {
                    var index = data.index,
                    file = data.files[index],
                    node = $(data.context.children()[index]);
                    if (file.preview) {
                    node
                    .prepend('<br>')
                    .prepend(file.preview);
                    }
                    if (file.error) {
                    noduploade
                    .append('<br>')
                    .append($('<span class="text-danger"/>').text(file.error));
                        }
                        if (index + 1 === data.files.length) {
                        data.context.find('button.upload')
                        .text('√')
                        .prop('disabled', !!data.files.error);
                        }
                        }).on('fileuploadprogressall', function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                        );
                        }).on('fileuploaddone', function (e, data) {
                        $.each(data.result.files, function (index, file) {
                        if (file.url) {

                $.post('/addNewItem', {name:data.files[0].name});
                        } else if (file.error) {

                        var error = $('<span class="text-danger"/>').text(file.error);
                            $(data.context.children()[index])
                            .append('<br>')
                            .append(error);
                            }
                            });
                            }).on('fileuploadfail', function (e, data) {
                            $.each(data.files, function (index, file) {
                            var error = $('<span class="text-danger"/>').text('File upload failed.');
                                $(data.context.children()[index])
                                .append('<br>')
                                .append(error);
                                });
                                }).prop('disabled', !$.support.fileInput)
                                .parent().addClass($.support.fileInput ? undefined : 'disabled');
                                });
                                $('dl>p>button').click(function(event){
                                event.preventDefault();
                                })
    </script> <script>
                            <!--$('button#addsubmit').click(function(event){-->
                                <!--event.preventDefault();-->
                                <!--var name = $('input#product-name').val();-->
                                <!--var category = "table";-->
                                <!--var price = $('input#product-price').val();-->
                                <!--var detail = $('textarea#reply_content').val();-->
                                <!--$.post('/saveOneItem', {name:name, category:category, price:price, detail:detail}, function(data){-->
                                    <!--$('html').text(data);-->
                                    <!--alert('fack');-->
                                <!--});-->
                                <!--});-->
    </script>
      <script>
     

    $(".col-xs-3 ul li a").click(function(){

      $(".filter-option.pull-left").text($(this).text());
      $(".col-xs-3 button").val($(this).text());

    });
    </script>
  </body>
</html>
