<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content=
    "text/html; charset=utf-8">
    <link rel="stylesheet" href=
    "flat-ui-official/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="flat-ui-official/css/flat-ui.css">
    <script src="flat-ui-official/js/jquery-1.8.3.min.js">
</script>
    <script src="flat-ui-official/js/bootstrap.min.js">
</script>

<script>
	var menu=function(){
	var t=15,z=50,s=6,a;
	function dd(n){this.n=n; this.h=[]; this.c=[]}
	dd.prototype.init=function(p,c){
		a=c; var w=document.getElementById(p), s=w.getElementsByTagName('ul'), l=s.length, i=0;
		for(i;i<l;i++){
			var h=s[i].parentNode; this.h[i]=h; this.c[i]=s[i];
			h.onmouseover=new Function(this.n+'.st('+i+',true)');
			h.onmouseout=new Function(this.n+'.st('+i+')');
		}
	}
	dd.prototype.st=function(x,f){
		var c=this.c[x], h=this.h[x], p=h.getElementsByTagName('a')[0];
		clearInterval(c.t); c.style.overflow='hidden';
		if(f){
			p.className+=' '+a;
			if(!c.mh){c.style.display='block'; c.style.height=''; c.mh=c.offsetHeight; c.style.height=0}
			if(c.mh==c.offsetHeight){c.style.overflow='hidden'}
			else{c.style.zIndex=z; z++; c.t=setInterval(function(){sl(c,1)},t)}
		}else{p.className=p.className.replace(a,''); c.t=setInterval(function(){sl(c,-1)},t)}
	}
	function sl(c,f){
		var h=c.offsetHeight;
		if((h<=0&&f!=1)||(h>=c.mh&&f==1)){
			if(f==1){c.style.filter=''; c.style.opacity=1; c.style.overflow='hidden'}
			clearInterval(c.t); return
		}
		var d=(f==1)?Math.ceil((c.mh-h)/s):Math.ceil(h/s), o=h/c.mh;
		c.style.opacity=o; c.style.filter='alpha(opacity='+(o*100)+')';
		c.style.height=h+(d*f)+'px'
	}
	return{dd:dd}
}();
</script>

    <style type="text/css">
	/*search menu*/
body {margin:25px; font:11px Verdana,Arial; background:#eee}
ul.menu {list-style:none; margin:0; padding:0}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#000; text-decoration:none}
ul.menu li {position:relative; float:left; margin-right:2px}
ul.menu ul {position:absolute; top:26px; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none}
ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:300px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#d1d1d1}
ul.menu ul li a:hover {background-color:#c5c5c5}
ul.menu ul ul {left:148px; top:-1px}
ul.menu .menulink {border:0px solid #aaa; padding:5px 7px 7px; font-weight:bold;}
//ul.menu .menulink:hover, ul.menu .menuhover {background:url(images/header_over.gif)}
ul.menu .sub {background:#d1d1d1 url(images/arrow.gif) 136px 8px no-repeat}
ul.menu .topline {border-top:1px solid #aaa}

div#hpcategoryddm {width: 150px;
padding-left: 0px;
padding-right: 0px;
margin-bottom: 11px;
left: -177px;
top: -38px;
}

/*head*/
    body{background-image: url(./cwp/image/hpbg.jpg)}
    body{background-color: rgb(223, 218, 254);}

    div#navbar{background-color: rgb(205, 236, 255);padding-bottom: 0px;}

    #navbar-top{position: relative;
    min-height: 39px;
    zoom: 1;
    margin: 0 0 0 10px;}

    div.todo-search{
    width: 400px;
    padding: 5px 21px 7px;
    position: relative;
    left: 345px;
    top: -50px;}


    ul.nav{display: -webkit-box;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -4px;
    left: 166px;
    white-space: nowrap;
    line-height: 32px;

    left: 740px;
    top: 49px}
    div#link {
    position: relative;
    right: 1px;
    bottom: 85px;
    margin-right: 0px;
    left: 720px;
    width: 560px;
    }
    ul#link{margin-left: -46px;}
    ul#link li{list-style: none;display: inline-block;margin-left: 10px;bottom: -4px;
    left: 166px;}
    ul#link a:hover{text-decoration: underline;}
    ul#link li:nth-child(n+2) a{border-left: 1px solid #CCC;padding-left: 10px;}
    ul#link a{font-size:16px;}
    /*a.logo{left: 9px;
    bottom: -5px;
    width: 106px;
    height: 40px;}*/
    div#search{padding-top:0px;padding-left: 0px;padding-right: 0px;}
    div#search ul.nav navbar-nav navbar-left{left: 24px;
    top: 0px;}
    .col-md-9 {
    width: 100%;
    margin-top: -54px;
    padding-top: 0px;

    }

    .navbar {border-radius: 0px;}
    .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -728px;
    margin-top: -49px;
    }



    /*main*/

    /*  for homepage*/
    .carousel {
    position: relative;
    height: 600px;
    overflow: hidden;
    width: 1170px;
    height: 416px;
    margin-top: 30px;
    z-index:100;
    margin-bottom: 30px;
    left: 0px;

    }
    /*for login & register form & changePassword-form*/
     div.login-form{background-color: rgba(237, 239, 241, 0.73);width:400px;margin: 60px;
    left: 186px}

    div.register-form,div.changePassword-form {
        filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
    width: 511px;
    padding: 4px 66px 36px;
    position: relative;
    border-radius: 6px;
    padding-right: 85px;
    background-color: #edeff1;
    margin: 60px;
    left: 186px;
    }
    /*for shopping list*/
    ul#img_list{display: -webkit-box;}
    ul#img_list>li{ display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 30px;}

    div#product_list{padding:50px; width:1203px;
    background-color: #edeff1;
      margin-top:65px;
        margin-bottom: 65px;
     filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9; 
    position: relative;}
    div#sortddm{
    position: relative;
    left:1000px;
        top:10px;
        z-index:200;

    width: 126px;
    }
    /*for food page*/
    .pagination {
    position: relative;
    left: 456px;
    }
    /* for prodct detail page*/
     div#left {
    width: 500px;
        height: 700px;
    background-color: #edeff1;
    position: relative;
    margin: 12px;
    float: left;
    filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
    margin-top: 0px;
    }
    div#product-image {
    width: 400px;
    height: 400px;
    background-size: 400px,400px;
    background-repeat: no-repeat;

    margin: 50px;
    }
    div#product_list div#img_list_area img{width:200px;height:180px

    }
    div#product-images{margin: 50px;width:300px}
    div#product-images ul li{display: inline-block;}
     div#product-images ul{padding-left: 0px;}
       div#right {
    width: 500px;
    height: 700px;
    background-color: #edeff1;
    filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
    position: relative;
    margin: 50px;
    left: 600px;
    }
    div#right >*{
    position: relative;
    bottom: 699px;
    left: 10px;
    color:black;
    }

    div#quantityddm{
    position: relative;


    width: 126px;
    }
    a#addToCart {
   margin-top: 20px;

    }
    /*.select.select-block {
    width: 200px;
    }*/
    table#details{border:"0"; width:450px;}
    table#details tr { width:450px;height:auto; }
    table#details td{padding-left:2px;}
    /*for addNewItem*/
    div.addNewItem-form {
    filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
    width: 511px;
    padding: 4px 66px 36px;
    position: relative;
    border-radius: 6px;
    padding-right: 85px;
    background-color: #edeff1;
        height: auto;
    margin: 60px;
    left: 186px;
    }
    div#categoryddm{width:156px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;}
    

    div#footer {
    position:relative;
    bottom: 0px;
    background-color: rgb(205, 236, 255);
    width: 100%;
    }
    ul#footer {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: inherit;
    width: 100%;
    white-space: nowrap;
    padding-top: 0px;
    line-height: 4;
    bottom: 0px;
    height: 80px;
    padding-left: 572px;
    }
    ul#footer>li{display: inline-block;
    padding-right:20px;padding-top: 12px;}
    ul#footer>li>a:hover{text-decoration: underline;}

    </style>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <header>
      <div id="navbar">
        <div id="navbar-top">
          <a class="logo" href="/"><img class="logo" src=
          "cwp/image/K.gif" width="100px" height="100px">
          <strong>Kaufhaus</strong></a>
		  
		  
		
		
          <div class="todo-search">
            <input class="todo-search-field" type="search" value=""
            placeholder="Search"> 
              <div class="col-xs-3" id="hpcategoryddm">
				<div class="btn-group select select-block">
				
		
		<ul class="menu" id="menu" >
	<li><button class="btn btn-primary menulink " data-toggle=
            "dropdown" id="dropdown" value="All" style="width:150px;height:45px"><span class="filter-option pull-left">All</span>&nbsp;</button>
		<ul>
			<li>
				<a href="#">Furniture</a>
				<ul>
					<li class="topline btn-primary"><a href="#">Living Room</a></li>
					<li><a href="#">Bedroom</a></li>
				</ul>
			</li>
			<li>
				<a href="#" class="sub">Electronics</a>
				<ul>
					<li class="topline"><a href="#">Laptop</a></li>
					<li><a href="#">Mobile Phone</a></li>
				</ul>
			</li>
			<li>
				<a href="#" class="sub">Apparel</a>
				<ul>
					<li class="topline"><a href="#">Top</a></li>
					<li><a href="#">Bottom</a></li>
					<li><a href="#">Accessories</a></li>
				</ul>
			</li>
			<li><a href="#">Food</a></li>
		</ul>
	</li>
</ul>

				
				
				
			
           
          </div>
        </div>
          </div>
            
			
			
			
			
          <div id="link">
            <ul id="link">
              <% if(!login) { %>
              <li class="active">
                <a class="brand" href="/login">Log in</a>
              </li>
              <li>
                <a href="/register">New Account</a>
              </li><% }else{ %>
              <li>
                <a href="#">My Cart</a>
              </li>
              <li>
                <a href="#">User Setting</a>
              </li>
              <li>
                <a href="#">Order History</a>
              </li>
              <li>
                <a href="/logout">Log out</a>
              </li><% } %>
            </ul>
          </div>
        </div>
        <div id="navbar-bottom">
          <div class="col-md-9" id="search">
            <nav class="navbar navbar-inverse navbar-embossed"
            role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=
                "#navbar-collapse-01"><span class="sr-only">Toggle
                navigation</span></button>
              </div>
              <div class="collapse navbar-collapse" id=
              "navbar-collapse-01">
                <ul class="nav navbar-nav navbar-left">
                  <li class="dropdown">
                    <a href="www.google.com" class=
                    "dropdown-toggle" data-toggle=
                    "dropdown"><span>Furniture</span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#">Living Room</a>
                      </li>
                      <li>
                        <a href="#">Bedroom</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                    data-toggle="dropdown"><span>Electronics</span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#">Laptop</a>
                      </li>
                      <li>
                        <a href="#">Mobile Phone</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="/food">Food</a>
			
                  </li><% if(admin){ %>
                  <li class="dropdown" style=
                  "position:relative;left:750px">
                    <a href="www.google.com" class=
                    "dropdown-toggle" data-toggle=
                    "dropdown"><span>Vendor</span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="/addNewItem">Add a New Item</a>
                      </li>
                      <li>
                        <a href="#">Delete Items</a>
                      </li>
                      <li>
                        <a href="#">Change Items' Info</a>
                      </li>
                    </ul>
                  </li><% } %>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div id="container" class="container">
      <div id="containbody">
        <% if (success) { %>
        <div class="alert alert-success">
          <%= success %>
        </div><% } %><% if (error) { %>
        <div class="alert alert-danger">
          <%= error %>
        </div><% } %><%- body %>
      </div>
    </div>
    <div id="footer">
      <ul id="footer">
        <li class="active">
          <a class="brand" href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
      </ul>
    </div>
	
	<script type="text/javascript">
	var menu=new menu.dd("menu");
	menu.init("menu","menuhover");
</script>

  </body>
</html>
