<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="main">
      <div id="product_list">
        <div id="img_list_area">
          <ul id="img_list">
            <li>
              <div id="product">
                <div id="img">
                  <a href=""><img src=
                  "./cwp/image/Nokia_Lumia_521.jpg" width=
                  "200px"></a>
                </div><a href="">Nokia Lumia 521</a>
                <p>
                  <a href="">$89.95</a>
                </p>
                <p>
                  <a href="" class="btn btn-primary" role=
                  "button">Add to Wishlist</a>
                </p>
              </div>
            </li>
            <li>
              <div id="product">
                <div id="img">
                  <a href=""><img src=
                  "./cwp/image/Nokia_Lumia_520_GoPhone.jpg" width=
                  "200px"></a>
                </div><a href="">Nokia Lumia 520 GoPhone</a>
                <p>
                  <a href="">$59.99</a>
                </p>
                <p>
                  <a href="" class="btn btn-primary" role=
                  "button">Add to Wishlist</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
